# cmake intermediate files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# build files, libraries and binaries
#lib/*
bin/*
build/*

# sublime text files
*.sublime-project
*.sublime-workspace
