# cmake intermediate files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# build files, libraries and binaries
#lib/*
bin/*
build/*

# sublime text files
*.sublime-project
*.sublime-workspace

# MSVC files
*.opensdf
*.vcxproj
*.vcxproj.filters
Win32
*.dir
*.sdf
*.sln
*.v12.suo